extends layout

block content
    .inner
        form.form(method="POST")
            h2 Reset Your Password  
            label(for="password") Password
            input(type="password" name="password")            
            label(for="password") Confirm Password
            input(type="password" name="password-confirm")
            input.button(type="submit" value="Reset Password 👤")
