extends layout

block content
    .inner
        h2 Top #{stores.length} Stores
        
        table.table
            thead
                td photo
                td ranking
                td name
                td reviews
                td Average Rating
            tbody
                each store, i in stores
                    tr
                        td
                            a(href=`/store/${store.slug}`)
                                img(width=200 src=`/uploads/${store.photo || 'store.png'}` alt=store.name)
                        td #{ i +1}
                        td: a(href=`/store/${store.slug}`)= store.name
                        td #{ store.reviews.length }
                        td #{ Math.round(store.averageRating * 10) / 10} / 5
                        
