mixin forgotForm()
    form.form(action='/account/forgot' method="POST")
        h2 I forgot my password
        label(for="email") Email
        input(type="email" name="email")
        input.button(type="submit" value="Send A Reset")
