mixin storeForm(store = {})
    form(action=`/add/${store._id || ''}` method="POST" enctype="multipart/form-data" class="card")
        label(for="name") Name
        input(type="text" name="name" value=store.name)
        label(for="description") Description
        textarea(type="text" name="description")= store.description
        //- Image upload
        label(for="photo") Photo
            input(type="file" name="photo" id="photo")
            if store.photo
                img(src=`/uploads/${store.photo}` alt=store.name width=200)
        //- address, lng , lat
        label(for="address") Address
        input(type="text" id="address" name="location[address]" value=(store.location && store.location.address))
        label(for="lng") Address Lng
        input(type="text" id="lng" name="location[coordinates][0]" value=(store.location && store.location.coordinates[0]) required)
        label(for="lat") Address Lat
        input(type="text" id="lat" name="location[coordinates][1]" value=(store.location && store.location.coordinates[1]) required)
        - const choices = ['Wifi', 'Open Late', 'Family Friendly','Vegaterian', 'Licensed']
        - const tags = store.tags || []
        ul.tags
            each choice in choices
                .tag.tag__choice
                    input(type='checkbox' id=choice value=choice name="tags" checked=(tags.includes(choice)))
                    label(for=choice) #{choice}
        input(type="submit" value="SAVE" class="button")
